.playbuttonbox {

  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s;
  border: 1px solid rgb(145, 142, 142);
  &:hover {
    background-color: #b8b8b8;
  }

  &:active {
    background-color: #bcc3e2;
  }
}
