.tracknumberbuttonbox {
  position: absolute;
  right: 220px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s;
  border: 1px solid rgb(145, 142, 142);
}

.tracknumberbuttonbox:hover {
  background-color: #b8b8b8;
}

.tracknumberbuttonbox:active {
  background-color: #bcc3e2;
}

@media (max-width: 600px) {
  .tracknumberbuttonbox {
    right: 10px;
  }
}
